// UBUNTU Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// COLORS
$black: #000000;
$blue: #14213d;
$yellow: #fca311;
$grey: #e5e5e5;
$white: #ffffff;
$lightBlue: #5AD2F4;

$defaultPadding: 8em;
$defaultMargin: 8em;

body {
  
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }

  .container {
    padding: 8rem 0;

    @media screen and (max-width: 767px){
      padding: 4rem 1rem;
    }
  }
  
  .acorddion-button {
    background-color: $lightBlue !important;
  }

  .marginTop {
    margin-top: $defaultMargin - 5em;
  }

  .centralizaXY {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgBlack {
    background-color: $black;
    color: $white;
  }

  .bgGrey {
    background-color: $grey;
    color: $black;
  }

  .yellow {
    color: $yellow;
  }

  .blue {
    color: $blue;
  }

  .lightBlue {
    color: $lightBlue;
  }

}

// ANIMATIONS

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s ease 0s normal none;
}