// UBUNTU Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// COLORS
$black: #000000;
$blue: #14213d;
$yellow: #fca311;
$grey: #e5e5e5;
$white: #ffffff;
$lightBlue: #5AD2F4;

$defaultPadding: 8em;
$defaultMargin: 8em;

body {

  img {
    border-radius: 5px;
  }
  
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }

  .container {
    padding: 8rem 0;

    @media screen and (max-width: 767px){
      padding: 4rem 1rem;
    }
  }
  
  .acorddion-button {
    background-color: $lightBlue !important;
  }

  .marginTop {
    margin-top: $defaultMargin - 5em;
  }

  .centralizaXY {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgBlack {
    background-color: $black;
    color: $white;
  }

  .bgGrey {
    background-color: $grey;
    color: $black;
  }

  .yellow {
    color: $yellow;
  }

  .blue {
    color: $blue;
  }

  .lightBlue {
    color: $lightBlue;
  }

  .shadow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000)";/*IE 8*/
    text-shadow: 3px 3px 4px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000); /*IE 5.5-7*/
  }

}

// ANIMATIONS

.animate-character
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #ff1313 39%,
    #9028ffaf 67%,
    #6940ff 100%,
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s ease 0s normal none;
}